<%= form_for(@card_deck) do |f| %>
  <% if @card_deck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card_deck.errors.count, "error") %> prohibited this card_deck from being saved:</h2>

      <ul>
      <% @card_deck.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.label :name %>
    <%= f.text_field :name, :class=> "card_field" %><br />
    <%= f.label :description %>
    <%= f.text_area :description, :rows => 5, :class=> "card_field"%><br />

    <label class="radio inline">
    <%= f.radio_button :deck_type, "deck_type", :checked => @card_deck.private? %> Private
    </label>
    <label class="radio inline">
    <%= f.radio_button :deck_type, "deck_type", :checked => @card_deck.public? %> Public
    </label>
    
    <div class="actions">
      <%= f.submit :value => "Save", :class=> "btn btn-primary" %>  |
     <% if @card_deck.key %>
      <%= link_to 'Cancel', @card_deck, class: 'btn' %>
     <% else %>
      <%= link_to 'Cancel', '/home' %>
     <% end %>
    </div>
<% end %>
