<p id="notice"><%= notice %></p>
<h2><%= @card_deck.name %></h2>
<p><%= @card_deck.description %></p>

  <div class="btn-toolbar">
    <div class="btn">
      <%= link_to "New Card", new_card_path(:card_deck_key => @card_deck.key) %>
    </div>
    <div class="btn">
      <%= link_to "Edit Deck", edit_card_deck_path(@card_deck) %>
    </div>
    <div class="btn">
      <% card = @card_deck.cards.first %>
      <%= link_to 'Study |>', review_path(card) %>
    </div>

  </div>

<div id="card_box">
  <% @card_deck.cards.each do |card| %>
      <div class="card_face">
        <div id="card_front_key_<%= card.key %>" class="card_face_front">
          <%= link_to_function card.question, "$('#card_back_key_#{card.key}').toggle();$('#card_front_key_#{card.key}').toggle();" %>
         </div>
        <div id="card_back_key_<%= card.key %>" class="card_face_back">
        <%= link_to_function card.answer, "$('#card_back_key_#{card.key}').toggle();$('#card_front_key_#{card.key}').toggle();" %>
        </div>
      </div>
  <% end %>
</div>

