<% if flash[:alert] %>
<p id="notice"><%= flash[:alert] %></p>
<% end %>

<%= form_tag do %>
<fieldset>
  <legend>Log In</legend>

  <p>Log in as <tt>bob@example.com</tt> / <tt>2asxlkwme</tt> for seeded deck list</p>

  <div>
    <%= label_tag :email, 'Name:' %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div>
    <%= label_tag :password, 'Password:' %>
    <%= password_field_tag :password, params[:password] %>
  </div>
  <div>
    <%= submit_tag "Log In", class: 'btn btn-primary' %>
  </div>
</fieldset>
<% end %>