  <h1>Your Decks</h1>
  <div class="btn-group">
    <%= link_to image_tag("add.png") + " New Deck", new_card_deck_path(), class: 'btn btn-success' %>
  </div>

<% @user_categories.each do | category | %>
  <h3><%= category.name %></h3>
  <% category_decks = @user_decks_by_category[category.key].sort_by {|deck| deck.name } %>
  <ul id="card_deck_list" class="unstyled">
    <% category_decks.each do |card_deck| %>
        <li class="card_deck_face">
          <div class="card-actions btn-group">
            <%= link_to 'Study', review_path(card_deck.cards.first), class: 'btn btn-mini btn-primary' %>
            <%=  link_to 'Manage', card_deck, class: 'btn btn-mini' %>
          </div>
          <span class="card_deck_face_title">
            <%=  link_to card_deck.name, card_deck %>
          </span>
          <span class="card_deck_privacy_status <%= card_deck.deck_type %>_deck">(<%= card_deck.deck_type %>)</span>
          
          <span class="card_deck_face_description"><%=  card_deck.description %></span>


        </li>
    <% end %>
  </ul>
<% end %>
