<% if session[:current_user] %>
<div id="content_box">
  <p style="margin-top: 2em;"><%= link_to 'View Your Card Decks', '/home' %>.</p> 
</div>
<% else %>
  <p style="margin-top: 2em;">Please <%= link_to 'Log In', '/login' %> with existing account. 
  Or use one of the providers below.</p>
  <div class="btn-toolbar">
      <div class="provider_box btn">
        <%= link_to "Sign in with Twitter", "/auth/twitter" %>
      </div>
      <div class="provider_box btn">
        <%= link_to "Sign in with Github", "/auth/github" %>
      </div>
<<<<<<< HEAD
  </div>
=======
  <% else %>
      # show stuff

      <%=  link_to 'Home', '/home' %>
>>>>>>> origin/omniauth
<% end %>

<div class="clear"><br /></div>

<div>
<h3>Public Decks</h3>
<ul>
<% @public_decks.each do | card_deck | %>
  <li><%= link_to card_deck.name, card_deck %>
   <%= card_deck.description %>
  </li>
<% end %>
</div>
