<% if session[:current_user] %>
    <div id="content_box">
      <div class="btn">
        <h3> <%= link_to 'Your Decks', '/home' %></h3>
      </div>
    </div>
<% else %>
    <div class="row">
      <div class="span6">
        <h1>Welcome Rails Rumble judges!</h1>
        <p>
          Brainload is a flash card application: create, share, and study decks of flash cards.
        </p>
        <ol>
          <li>Create an account or log in using a third-party service.</li>
          <li>Create a card deck.</li>
          <li>Add cards to the deck.</li>
          <li>Review the deck and learn the material.</li>
        </ol>
      </div>
      <div class="span6">
        <div class="provider_box">
          <h1>New to Brainload?</h1>
          <p>Sign in with one of these services.</p>
          <div class="provider_box btn">
            <%= link_to "/auth/twitter" do %>
              <span class="icon-twitter"></span>
              Sign in with Twitter
            <% end %>
          </div>
          <div class="provider_box btn">
            <%= link_to "/auth/github" do %>
              <span class="icon-github"></span>
              Sign in with GitHub
            <% end %>
          </div>
          <div class="provider_box btn">
            <%= link_to "/auth/google" do %>
              <span class="icon-google-plus"></span>
              Sign in with Google
            <% end %>
          </div>
        </div>

        <div class="direct_login_box">
          <h1>Returning to Brainload?</h1>
          <p>It's nice to see you again!</p>
          <%= render :partial => "/sessions/new" %>
        </div>
      </div>
    </div>
<% end %>

<div class="row">
  <div class="span12">
  </div>
</div>

<div class="row">
  <div class="span12"><h1>Public Decks</h1></div>
  
<% @public_categories.each do | category | %>
  <div class="span6">
    <h4><%= link_to category.name, category %></h4>
    <% category_decks = @public_decks_by_category[category.key].sort_by {|deck| deck.name} %>
    <% last_deck = category_decks.last %>
    <% category_decks.each do | card_deck | %>
      <span><%= link_to card_deck.name, card_deck %><%= ',' unless card_deck.key == last_deck.key %></span>
    <% end %>
  </div>
<% end %>
</div>

