<% if session[:current_user] %>
    <div id="content_box">
      <div class="btn">
        <h3> <%= link_to 'Your Decks', '/home' %></h3>
      </div>
<% else %>
    <p style="margin-top: 2em;">Please login with your account
      or use one of the providers below.</p>
    <div class="btn-toolbar">

      <div class="direct_login_box btn">
        <%= render :partial => "/sessions/new" %>
      </div>
      <div class="provider_box btn">
        <%= link_to "Sign in with Twitter", "/auth/twitter" %>
      </div>
      <div class="provider_box btn">
        <%= link_to "Sign in with Github", "/auth/github" %>
      </div>
      <div class="provider_box btn">
        <%= link_to "Sign in with Google", "/auth/google" %>
      </div>
    </div>
<% end %>

<div class="clear"><br/></div>

<div class="row">
  <div class="span12"><h3>Public Decks</h3></div>
  
<% @public_categories.each do | category | %>
  <div class="span6">
    <h4><%= category.name %></h4>
    <% category_decks = @public_decks_by_category[category.key].sort_by {|deck| deck.name} %>
    <% last_deck = category_decks.last %>
    <% category_decks.each do | card_deck | %>
      <span><%= link_to card_deck.name, card_deck %><%= ',' unless card_deck.key == last_deck.key %></span>
    <% end %>
  </div>
<% end %>
</div>

