%h1 Log In
= form_for @login, url: login_path do |f|
  = f.label :email
  = f.text_field :email
  = f.label :password
  = f.password_field :password
  %br
  = f.submit 'Log in', class: 'btn btn-primary'