<h1><%=h deck.name %></h1>

<% unless flash[:success].blank? %>
  <div class="alert alert-success"><%=h flash[:success] %></div>
<% end %>

<% unless flash[:incorrect].blank? %>
  <div class="alert"><%=h flash[:incorrect] %></div>
<% end %>

<h2><%=h card.question %></h2>

<%= form_for @review, url: review_path(@review.id) do |r| %>
  <%= r.label :answer %>
  <%= r.text_field :answer %>
  <br />
  <%= r.submit 'Check Answer' %>
<% end %>
