<h1><%=h deck.name %></h1>

<div class="row">
  <div class="span8 offset2 card">
    <h2 class="question"><%=h card.question %></h2>

    <%= form_for @review, url: review_path(@review.id) do |r| %>
      <%= r.text_field :answer, placeholder: 'Enter answer', class: 'span6' %>
      <br />
      <%= r.submit 'Check Answer', class: 'btn btn-default' %>
    <% end %>
  </div>
</div>