<h1><%=h deck.name %></h1>

<div class="row">
  <div class="span8 offset2 card">
    <h2 class="question"><%=h card.question %></h2>

    <p class="muted">You answered:</p>
    <p class="answer my"><%=h review.answer %></p>

    <p class="muted">The card says:</p>
    <p class="answer"><%=h card.answer %></p>

    <% if review.correct? %>
      <div class="alert alert-success">
        Great Job!
        <br />
        <%= link_to 'Onward!', review_path(review.next), class: 'btn btn-large' %>
      </div>
    <% else %>
      <div class="alert">
        You'll get it next time!
        <br />
        <%= link_to 'Onward!', review_path(review.next), class: 'btn btn-large' %>
      </div>
    <% end %>
  </div>
</div>
