<h1><%=h deck.name %></h1>

<h2><%=h card.question %></h2>

<div class="row">
  <div class="span6">
    <h3>The card says:</h3>
    <p class="answer"><%=h card.answer %></p>
  </div>
  <div class="span6">
    <h3>You entered:</h3>
    <p class="answer"><%=h review.answer %></p>
  </div>
</div>

<div class="row">
  <div class="span8 offset2">
    <% if review.correct? %>
      <div class="alert alert-success">
        Great Job!
        <%= link_to 'Onward!', review_path(review.next), class: 'btn btn-small' %>
      </div>
    <% else %>
      <div class="alert">
        You'll get it next time!
        <%= link_to 'Onward!', review_path(review.next), class: 'btn btn-small' %>
      </div>
    <% end %>
  </div>
</div>
